# Ignore dataset training output
# dataset_training/images/*.jpg
# dataset_training/labels/*.txt

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
/tmp/
*.tmp
copy_file.py

output/*
downloads/*
inference_results/*
merged_videos/*